:root {
  --color-text-body: #58595b;
  --color-primary: #b58c4d;
  --color-secondary: #142770;
  --color-text: #ffff;
  --color-bg-services: #f8f8f8;
  --color-bg-proyects: #ecf2f6;
}

@media (min-width: 1600px) {
  .layout {
    min-width: 1600px;
  }
  .layout__menu {
    padding: 5rem 9.5rem;
  }
  .layout__banner {
    min-height: 70rem;
    margin: 0 9.5rem;
    padding-right: 0rem;
    padding-left: 20rem;
    padding-top: 25rem;
    padding-bottom: 30rem;
  }
  .Banner__title {
    font-size: 10rem;
    font-weight: 700;
    line-height: 1.2;
    color: var(--color-text);
    margin-bottom: 3rem;
  }
  .shapes__item--shape1 {
    text-align: right;
    top: 0;
    left: 50%;
    width: 100%;
    animation-name: showRight;
    animation-duration: 1.5s;
  }
  .shapes__item--shape2 {
    bottom: 0;
    left: 0;
    width: 100%;
    animation-name: showLeft;
    animation-duration: 1.5s;
    opacity: 0.5;
  }
  .services__service {
    padding: 7rem 5rem;
  }
  @media (min-width: 1507px) and (min-width: 1400px) {
    .footer__container {
      max-width: 100%;
      padding-left: 3rem;
      padding-right: 3rem;
    }
  }
  .projects__all {
    gap: 3rem;
  }
}
@media (max-width: 1200px) {
  .layout {
    min-width: 992px;
  }
  .nav__item {
    margin: 0 2rem;
  }
  .Banner__title {
    font-size: 7rem;
  }
  .shapes__item--shape1 {
    width: 600px;
  }
  .layout__services {
    margin: 10rem 7rem;
    margin-bottom: 0;
  }
  .services__service {
    padding: 4rem 1.5rem;
  }
  .service__container-img {
    max-width: 6rem;
  }
  .projects__all {
    gap: 3rem;
  }
  .layout__stats {
    padding: 10rem 7rem;
  }
  .layout__contact {
    padding-top: 10rem;
    padding-bottom: 7rem;
  }
  .footer__social {
    margin: 2rem;
  }

  .footer__main {
    margin: 0 3.5rem;
  }
}
@media (max-width: 1000px) {
  .layout {
    min-width: 50%;
  }
  .navBar__nav {
    display: none;
  }
  .navbar__mobile-btn {
    display: block;
  }
  .layout__banner {
    font-size: 5rem;
    margin: 0 0.5rem;
  }
  .Banner__title {
    color: var(--color-primary);
  }
  .banner__content {
    width: 65%;
  }
  .shapes__item--shape1 {
    width: 100%;
    opacity: 0.5;
    margin-left: 0;
    padding: 0;
  }
  .banner__btn {
    padding: 2rem 3.5rem;
  }
  .shapes__item {
    width: 50%;
  }
  .footer__container {
    max-width: 72rem;
  }
  .layout__services {
    padding: 4rem;
  }
  .services__subtitle,
  .projects__subtitlte,
  .stats__subtitle,
  .contact__subtitle {
    font-size: 1.8rem;
  }
  .services__title,
  .projects__titlte,
  .stats__title,
  .contact__title {
    font-size: 5rem;
  }
  .services__list {
    flex-direction: column;
  }
  .services__service {
    width: 95%;
    margin-bottom: 1rem;
    padding: 4rem 2.5rem;
    margin-top: 1rem;
  }
  .service-shapes--shape2 {
    display: none;
  }
  .layout__projects {
    padding: 8rem 4r3m;
  }
  .layout__projects {
    padding: 6rem 5rem;
  }
  .projects__all {
    flex-direction: column;
  }
  .projects__project {
    width: 100%;
  }
  .project-shapes--shape1 {
    margin-top: -5rem;
  }
  .project-shapes--shape2 {
    display: none;
  }
  .projects__categoies {
    gap: 1rem;
  }
  .categories__item {
    font-size: 1.5rem;
  }
  .layout__stats {
    padding: 8rem 5rem;
  }
  .stats__description {
    font-size: 1.7rem;
    width: 100%;
  }
  .stats__progress {
    flex-wrap: wrap;
  }
  .stats__stat {
    width: calc(50% - 1.5rem);
  }
  .layout__contact {
    padding-top: 8rem;
    padding-bottom: 4rem;
  }
  .layout__contact::before {
    height: 60rem;
  }
  .contact__title {
    width: 100%;
  }
  .contac__btm {
    padding: 1.8rem 3.5rem;
  }
  .contact__thumb--chat {
    margin-right: -13rem;
    margin-bottom: -0.8rem;
    width: 70%;
  }
  .contact__images {
    width: 100%;
  }
  .contact__thumb--laptop {
    left: 0;
    bottom: 0;
  }
  .contact__thumb--mobile {
    bottom: 0;
    right: -8rem;
  }
  .contact__img {
    width: 95%;
  }
  .social__img {
    font-size: 2rem;
  }
  .footer__main {
    display: flex;
    flex-direction: column;
  }
  .footer__fleft {
    width: 100%;
  }
  .fleft__container {
    border: none;
  }
  .footer__fright {
    width: 100%;
  }
  .footer__bottom {
    flex-direction: column;
  }
  .footer__copyrigth {
    flex-basis: auto;
    text-align: center;
    display: block;
    margin-bottom: 1rem;
  }
  .footer__links {
    flex-basis: auto;
    text-align: center;
  }
  .footer__flinks {
    justify-content: center;
  }
}

@media (max-width: 770px) {
  .layout__banner {
    margin: 0 1rem;
    padding: 8rerm 3rem;
  }
  .banner__title {
    font-size: 4rem;
    color: var(--color-secondary);
  }
  .shapes__item--shape1 {
    width: 600px;
  }
  .layout__services {
    margin: 7rem;
  }
  .service-shapes--shape1 {
    margin-top: 45px;
  }

  .footer__container {
    max-width: 54rem;
  }
  .services__subtitle,
  .projects__subtitlte,
  .stats__subtitle,
  .contact__subtitle {
    font-size: 1.6rem;
  }
  .services__title,
  .projects__titlte,
  .stats__title,
  .contact__title {
    font-size: 5rem;
  }
  .layout__projects {
    padding: 6rem 5rem;
  }
  .projects__all {
    flex-direction: column;
  }
  .projects__project {
    width: 100%;
  }
  .projects__categoies {
    display: none;
  }
  .layout__stats {
    padding: 6rem 3rem;
  }
  .stat__count {
    font-size: 4.4rem;
  }
  .layout__contact {
    padding-top: 6rem;
    padding-bottom: 4rem;
  }
  .layout__contact::before {
    height: 48rem;
  }
  .contact__thumb--chat {
    margin-right: -50rem;
    margin-bottom: -0.8rem;
    width: 100%;
  }
  .contact__thumb--laptop {
    left: 10rem;
    bottom: 0;
  }
  .contact__thumb--mobile {
    bottom: 0;
    right: -10rem;
  }
  .contact__img {
    width: 40%;
  }
  .fleft__container {
    padding-right: 0rem;
    margin-right: 0rem;
    margin-bottom: 8rem;
  }
}
@media (max-width: 640px) {
  .layout {
    min-width: 25%;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .layout__banner {
    min-height: 20rem;
    margin: 0 0rem;
    padding: 6rem 0rem;
  }
  .Banner__title {
    font-size: 4rem;
    margin-top: 0;
  }
  .banner__btn {
    font-size: 1.5rem;
  }
  .shapes__item--shape2 {
    display: none;
  }

  .layout__projects,
  .stats__container,
  .contact__conatainer,
  .footer__container {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
  .layout__services {
    margin-left: 3rem;
    margin-right: 1rem;
  }
  .services__service {
    width: 100%;
    margin-bottom: 1rem;
    padding: 1rem 0.5rem;
    margin-top: 1rem;
  }
  .services__title,
  .projects__title,
  .contact__title {
    font-size: 3.5rem;
  }
  .stats__title {
    font-size: 3rem;
  }
  .stats__description {
    font-size: 1.5rem;
  }
  .stats__progress {
    gap: 0.5rem;
  }
  .stat__count {
    font-size: 3rem;
  }
  .contact__thumb--chat {
    margin-right: -34rem;
    margin-top: -5rem;
    width: 141%;
  }
  .contact__thumb--laptop {
    left: 0rem;
    bottom: 0;
    width: 78%;
  }
  .contact__thumb--mobile {
    bottom: 0;
    right: -17rem;
    width: 78%;
  }
  .footer__widget--50 {
    flex-basis: auto;
  }
  .footer__fright {
    flex-basis: 100%;
    gap: 3rem;
  }
  .footer__top {
    padding-bottom: 1rem;
  }
  .fleft__group {
    flex-direction: column;
  }
  .fleft__title {
    font-size: 4.4rem;
  }
  .fleft__btn {
    height: 5.2rem;
    margin-top: 2rem;
    padding: 1.4rem 3rem;
    margin-left: -15rem;
    font-size: 1.5rem;
  }
  .footer__fright {
    flex-basis: 100%;
    gap: 2rem;
    padding-bottom: 0;
  }
  .widget__title {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1;
    margin-bottom: 2rem;
  }
  .widget__link {
    font-size: 1.2rem;
    padding: 0.5rem;
  }
  .footer__bottom {
    font-size: 1.5rem;
  }
}
@media (max-width: 375px) {
  .layout {
    min-width: 25%;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .layout__banner {
    min-height: 20rem;
    margin: 0 0rem;
    padding: 6rem 0rem;
  }
  .Banner__title {
    font-size: 3rem;
    margin-top: 0;
  }
  .banner__btn {
    font-size: 1.2rem;
  }
  .layout__services {
    margin-left: -3rem;
    margin-right: -5rem;
  }
  .service__title {
    font-size: 2rem;
    font-weight: 500;
    line-height: 1;
    margin-bottom: 1rem;
  }
  .layout__projects {
    padding: 1rem 5rem;
  }
  .services__title,
  .projects__title,
  .stats__title,
  .contact__title,
  .fleft__title {
    font-size: 2.5rem;
  }
  .fleft__title {
    font-size: 4.5rem;
  }
  .services__subtitle,
  .projects__subtitle,
  .stats__subtitle,
  .contact__subtitle {
    font-size: 1.5rem;
  }

  .project__title {
    font-size: 2rem;
    font-weight: 500;
    line-height: 1;
    margin-bottom: 0rem;
  }
  .project__tangs {
    font-size: 1.3rem;
  }
  .layout__stats {
    padding: 2rem 0rem;
    padding-bottom: 0rem;
  }
  .stats__description {
    font-size: 1.5rem;
  }
  .stat__title {
    font-size: 1.5rem;
    font-weight: 4 00;
    line-height: 1;
  }
  .stats__progress {
    gap: 0.5rem;
  }
  .stat__count {
    font-size: 3rem;
  }
  .contact__title {
    margin-bottom: 2.5rem;
  }
  .layout__contact::before {
    height: 35rem;
  }
  .contac__btm {
    margin-bottom: 2rem;
    padding: 0.8rem 1.5rem;
  }
  .contact__thumb--chat {
    margin-right: -27rem;
    margin-top: -5rem;
    width: 125%;
  }
  .contact__thumb--laptop {
    left: 0rem;
    bottom: 0;
    width: 76%;
  }
  .contact__thumb--mobile {
    bottom: 0;
    right: -13rem;
    width: 75%;
  }
  .footer__top {
    padding-bottom: 1rem;
  }
  .fleft__group {
    flex-direction: column;
  }
  .fleft__btn {
    height: 5.2rem;
    margin-top: 2rem;
    padding: 1.4rem 3rem;
    margin-left: -15rem;
    font-size: 1.5rem;
  }
  .footer__fright {
    flex-basis: 100%;
    gap: 2rem;
    padding-bottom: 0;
  }
  .widget__title {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1;
    margin-bottom: 2rem;
  }
  .widget__link {
    font-size: 1.2rem;
    padding: 0.5rem;
  }
  .footer__bottom {
    font-size: 1.5rem;
  }
}
